/*Navbar*/
body,html {
    margin: 0;
    padding: 0;
}

header {
    width: 100%;
    height: 70px;
    background: #121212;
}

h1 {
    position: absolute;
    padding: 3px;
    float: left;
    margin-left: 2%;
    margin-top: 10px;
    font-family: monospace,Arial, Helvetica, sans-serif;
    color: red;
}

span {
    color: red;
}

ul {
    width: auto;
    float: right;
    margin-top: 8px;
}

li {
display: inline-block;
padding: 15px 30px;
}

a {
    text-align: center;
    color: whitesmoke;
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.2vw;
}

a:hover {
    transition: 0.5s;
    color: red;
}
/*Navbar*/

.section {
    height:400px;
    justify-content: center;
    margin: 0%;
    display: inline-flexbox;
    margin-bottom: 50px;
    
}

.Home {
    background-color: #595959;
    background-color: yellow;
}

.Projects {
    background-color: #797979;
}

.Contact {
    background-color: #121212;
}
